.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;

}

.child1{
    position: relative;
    top: 20px;
    left: 20px;
}

.child2{
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
}

.container{
    height: 200vh;
    border: 2px solid black;
}

.child3{
    position: fixed;
    top: 0;
    right: 200px;
}

.child4{
    position: sticky;
    top: 50px;
}